/* Variaveis
/* ---------------------------------------------------- */
$vermelho:      #B71C1C !default;


$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background-color: #ECEFF1;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 980px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/* Buttons
/* ---------------------------------------------------- */
.btn-float {
  margin: .4em;
  padding: 1em;
  cursor: pointer;
  background: #e1e1e1;
  text-decoration: none;
  color: #666;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.btn-float:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.btn-float:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.btn-float:hover:before, 
.btn-float:focus:before, 
.btn-float:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}



/* Header/Nav
/* ---------------------------------------------------- */
.header {
  margin: 0;
  border: none;
}
  .navbar{
    margin: 0;
    border: none;
    background-color: $vermelho;
    border-radius: 0;
  }
    .navbar-default  .navbar-brand,
    .navbar-default  .navbar-brand:hover {
      color: #FFFFFF;
    }
    .form-login {
      padding-top: 8px;
    }


/* Home Page
/* ---------------------------------------------------- */
.home {
  background: url(../images/bg_home.jpg) top center no-repeat;
  background-size: 100% auto;
  height: calc(100vh - 53px);
}
  .buttons {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 20%;
    left: 0;
    text-align: center;
  }
    .buttons .btn {
      width: 200px;
      height: 50px;
      text-transform: uppercase;
      font-weight: bold;
    }
    .buttons .btn:focus {
      outline: none;
    }



/* Paciente
/* ---------------------------------------------------- */
.paciente {
  padding-top: 35px;
  .top{
    margin-top:0.5em;
  }
}

.none-radius{
  border-radius: 0px;
}

.card{
  background-color: #E53935;
  color: #ffffff;
  .icon{
    font-size: 4em;
  }
  .text{
    font-size: 3em;
  }
}



/* Doador
/* ---------------------------------------------------- */
.doador {
  padding-top: 35px;
}
  .timeline {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
    .timeline .filtro {
      display: table;
      width: 100%;
      background-color: $vermelho;
      padding: 10px 5px;
      border-radius: 5px;
    }
      .timeline .filtro .btn {
        height: 34px;
        color: $vermelho;
        font-weight: bold;
        border: none;
      }
      .timeline .filtro .btn:focus { outline: none; }
      .timeline .filtro .btn.ativo {
        background-color: $vermelho;
        color: #FFFFFF;
        pointer-events: none;
        cursor: default;
      }

    .timeline .itens {
      margin-top: 40px;
    }
      .timeline .itens .item {
        margin-bottom: 15px;
        cursor: pointer;
      }
        .timeline .itens .item .info {
          display: table;
          width: 100%;
          background-color: #EEEEEE;
          overflow: hidden;
        }
        .timeline .itens .item .info:hover {
          background-color: #DDDDDD;
        }
          .timeline .itens .item .info .tipo {
            min-height: 60px;
            background-color: $vermelho;
            color: #FFFFFF;
            font-size: 2em;
            text-align: center;
            font-weight: bold;
            line-height: 60px;
            margin-left: 15px;
          }
          .timeline .itens .item .info span {
            display: block;
            font-size: .9em;
          }
          .timeline .itens .item .info .nome {
            font-size: 1em;
            font-weight: bold;
          }





/* Media Query
/* ---------------------------------------------------- */
@media( max-width: 1200px ) {
  .timeline .filtro .btn {
    padding: 5px 10px;
  }
}


@media( max-width: 992px ) {
  .timeline .filtro { text-align: center; }
    .timeline .filtro .btn {
      padding: 5px 24px;
      margin-bottom: 10px;
    }
}