<main class="doador">
	<div class="container">
		<div class="timeline">
			<header class="filtro">
				<div class="btn-group col-sm-12 col-md-6 col-lg-6" role="group">
				  <button type="button" class="btn btn-default">O-</button>
				  <button type="button" class="btn btn-default ativo">O+</button>
				  <button type="button" class="btn btn-default">B-</button>
				  <button type="button" class="btn btn-default">B+</button>
				  <button type="button" class="btn btn-default">A-</button>
				  <button type="button" class="btn btn-default">A+</button>
				  <button type="button" class="btn btn-default">AB-</button>
				  <button type="button" class="btn btn-default">AB+</button>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-6">
					<input type="text" class="form-control" placeholder="Buscar por Paciente, Hospital e etc..">
				</div>
			</header>
			<div class="itens">
				
				<div class="item col-md-6 col-lg-6">
					<div class="info">
						<div class="row">
							<div class="tipo col-lg-3">O-</div>
							<div class="texto col-lg-8">
								<span class="nome">Francisco Humbertolino da Silva</span>
								<span class="hospital">Hospital blah blah</span>
								<span class="cidade">Fortaleza, CE</span>
							</div>
						</div>
					</div>
				</div>
				<div class="item col-md-6 col-lg-6">
					<div class="info">
						<div class="row">
							<div class="tipo col-lg-3">AB+</div>
							<div class="texto col-lg-8">
								<span class="nome">Francisco Humbertolino da Silva</span>
								<span class="hospital">Hospital blah blah</span>
								<span class="cidade">Fortaleza, CE</span>
							</div>
						</div>
					</div>
				</div>
				<div class="item col-md-6 col-lg-6">
					<div class="info">
						<div class="row">
							<div class="tipo col-lg-3">A-</div>
							<div class="texto col-lg-8">
								<span class="nome">Francisco Humbertolino da Silva</span>
								<span class="hospital">Hospital blah blah</span>
								<span class="cidade">Fortaleza, CE</span>
							</div>
						</div>
					</div>
				</div>
				<div class="item col-md-6 col-lg-6">
					<div class="info">
						<div class="row">
							<div class="tipo col-lg-3">B+</div>
							<div class="texto col-lg-8">
								<span class="nome">Francisco Humbertolino da Silva</span>
								<span class="hospital">Hospital blah blah</span>
								<span class="cidade">Fortaleza, CE</span>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</main>
